<nav class="navegacion">
  <ul class="menu">

    <li class="first-item">
      <a href="#">
        <img src="/assets/img/nav/nuevoProd.png" alt="" class="imagen">
        <span class="text-item">Nuevo producto</span>
        <span class="down-item"></span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="/assets/img/nav/translado.png" alt="" class="imagen">
        <span class="text-item">Traslados</span>
        <span class="down-item"></span>
      </a>
    </li>

    <li>
      <a href="#">
        <img src="/assets/img/nav/misProd.png" alt="" class="imagen">
        <span class="text-item">Mis Productos</span>
        <span class="down-item"></span>
      </a>
    </li>

    <li>
      <a href="#">
        <input type="text" class=" imagen">
        <span class="text-item">Buscar</span>
        <span class="down-item"></span>
      </a>
    </li>

  </ul>
</nav>
